.open-gate-view {
    padding: 0 !important;
    overflow: hidden !important;
}

.open-gate-view .open-gate-iframe,
.open-gate-view .open-gate-webview {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
}

.gate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-gate-mobile-warning {
    background: #b38c1d;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
}

.open-gate-mobile-link {
    color: #fff;
    text-decoration: underline;
}

.open-gate--form-field .setting-item-control input[type='text'] {
    width: 100%;
}

.open-gate--advanced-options {
    border-top: 1px solid var(--background-modifier-border);
    padding: 0.75em 0;
    display: none;
}

.open-gate--advanced-options--show {
    display: block;
}

.open-gate--quick-list-item {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.open-gate--quick-list-item.active,
.open-gate--quick-list-item:hover {
    background: var(--background-modifier-hover);
}